<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/animate.css" />
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content/essentials.css" />
    <include path="~/Content/flexslider.css" />
    <include path="~/Content/font-awesome.css" />
    <include path="~/Content/footer-default.css" />
    <include path="~/Content/header-default.css" />
    <include path="~/Content/layerslider.css" />
    <include path="~/Content/layout.css" />
    <include path="~/Content/line-icons.css" />
    <include path="~/Content/magnific-popup.css" />
    <include path="~/Content/owl.pack.css" />
    <include path="~/Content/red.css" />
    <include path="~/Content/revolution-slider.css" />
    <include path="~/Content/sky-forms.css" />
    <include path="~/Content/weather-icons.min.css" />
  </styleBundle>
</bundles>